<!DOCTYPE html>
<html>
<head>
	<!-- (c) & (p) hvadhedderde.com 2011 //-->
	<!-- All material protected by copyrightlaws, as if you didnt know //-->
	<title>Vestas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link type="text/css" rel="stylesheet" media="all" href="/css/seg_desktop_fallback.css" />
	<script type="text/javascript" src="/js/seg_desktop_fallback.js"></script>
</head>
<body>

<div id="page" class="i:page">

	<div id="header">
		<div class="c400">

		</div>
	</div>


	<!-- INCLUDE THIS IF BROWSER NOT QUALIFIED -->
	<div class="overlay browsersuggestions">
		<div class="box">
			<div class="header">
				<h2>Improve Your Experience (only if browser is not qualified)</h2>
			</div>
			<div class="body">
				<p>We've detected you're currently accessing our site from a browser or a device that our platform isn't currently optimized to look its best and function flawless in</p>
				<p>Since we really care about your experience and we're always looking for ways to make your workflow more efficient, we recommend that you update your browser and..</p>
				<h3>Browser suggestions</h3>
				<ul>
					<li>Internet Explorer IE7</li>
					<li>Internet Explorer IE7</li>
					<li>Firefox 8</li>
					<li>Chrome</li>
				</ul>
				<p>Download/upgrade Links?</p>
				<ul class="actions">
					<li><a href="/docs/list-templates.html" class="button">Close</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>

</body>
</html>