<!DOCTYPE html>
<html>
<head>
	<!-- (c) & (p) hvadhedderde.com 2011 //-->
	<!-- All material protected by copyrightlaws, as if you didnt know //-->
	<title>Vestas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link type="text/css" rel="stylesheet" media="all" href="/css/lib/seg_desktop_include.css" />
	<script type="text/javascript" src="/js/lib/seg_desktop_include.js"></script>
</head>
<body>

<div id="page" class="i:page">

	<div id="header">
		<div class="c400">

			<div class="info">
				<div class="jumpboardlink"><a href="/templates/jumpboard.html" title="Jump Board">Jump Board</a></div>
			</div>

		</div>
	</div>

	<div class="banner"></div>

	<div id="content" class="logon i:createpassword">

		<div class="box">
			<div class="body">
				<h3>Create new password</h3>
				<form name="createpassword" class="createpassword" action="/templates/ajax/SECCheckPassword" method="post">
					<input type="hidden" name="userid" value="<%=userId%>" />
					<fieldset>
						<div class="field password required oldpassword">
							<label for="oldpassword">Old Password</label>
							<input type="text" name="oldpassword" id="oldpassword" value="" />
							<p class="error">Wrong password</p>
						</div>
						<div class="field password required newpassword">
							<label for="newpassword">New Password</label>
							<input type="password" name="newpassword" id="newpassword" value="" />
							<p class="error">Password does not match</p>
						</div>
						<div class="field password required confirmpassword">
							<label for="confirmpassword">Confirm Password</label>
							<input type="password" name="confirmpassword" id="confirmpassword" value="" />
							<p class="error">Password does not match</p>
						</div>
						<ul class="actions">
							<li class="update"><input type="submit" value="Update password" class="button primary" /></li>
						</ul>
					</fieldset>
				</form>

				<div class="SAP">
					<sap:form type="changepassword">
						<sap:input type="oldPassword" />
						<sap:input type="newPassword" />
						<sap:input type="confirmPassword" />
					</sap:form>
				</div>
			</div>
		</div>

		<div class="servicenavigation">
			<div class="copyright">Copyright 2012 Vestas Wind Systems. All rights reserved.</div>
			<ul>
				<li><a href="#">Privacy policy</a></li>
				<li><a href="#">Visit vestas.com</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>

</div>

</body>
</html>