<!DOCTYPE html>
<html>
<head>
	<!-- (c) & (p) hvadhedderde.com 2011 //-->
	<!-- All material protected by copyrightlaws, as if you didnt know //-->
	<title>Vestas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link type="text/css" rel="stylesheet" media="all" href="/css/lib/seg_desktop_include.css" />
	<script type="text/javascript" src="/js/lib/seg_desktop_include.js"></script>
</head>
<body>

<div id="page" class="i:page">

	<div id="header">
		<div class="c400">

			<div class="info">

				<div class="jumpboardlink"><a href="/templates/jumpboard.html" title="Back to template list">Jumpboard</a></div>

				<div class="user">
					<h3>Henrik John Andersen</h3>
					<div class="notification">12</div>
					<ul>
						<li><h4><a href="/templates/myacc-account.html">My Account</a></h4></li>
						<li>
							<h4><a href="#">My Documents</a></h4>
							<div class="notification">New version!</div>
						</li>
						<li class="signout"><h4><a href="/templates/logon.html">Sign Out</a></h4></li>
					</ul>
				</div>

			</div>

			<div id="navigation">
				<h3>Launch App</h3>
				<ul>
					<li id="nav_app_name1"><h4><a href="#">Collaboration Room</a></h4></li>
					<li id="nav_app_name2"><h4><a href="#">Document Sharing</a></h4></li>
					<li>
						<h4><a href="/templates/issue_manager.html">Issue Manager</a></h4>
						<div class="notification">New version!</div>
					</li>
					<li><h4><a href="#">Performance Manager</a></h4></li>
					<li class="add"><h4><a href="/templates/add_application.html">Add Application</a></h4></li>
				</ul>
			</div>

		</div>
	</div>

	<div class="banner"></div>

	<div id="subnavigation">
		<ul>
			<li class="selected"><h4><a href="/templates/jumpboard.html">Jump Board</a></h4></li>
			<li><h4><a href="/templates/add_application.html">Add Application</a></h4></li>
			<li><h4><a href="/templates/get_started.html">Get Started</a></h4></li>
		</ul>
		<ul class="actions">
			<li class="i:feedback"><a href="/templates/ajax/feedback.html" class="button tool feedback">Feedback</a></li>
			<li class="i:sharepage"><a href="/templates/ajax/sharepage.html" class="button tool share">Share</a></li>
		</ul>
	</div>

	<div id="content">
		
		<div class="banner gigawatts50">
			<a href="#">50 GWhat? Vestas turbines now provide the world with 50 gigawatts of installed wind energy capacity.</a>
		</div>
		
		<ul class="widgets i:widgets">
			
			
			<li class="widget powerdummy">
				<div class="header">
					<h2>Powerforecast</h2>
					<ul class="actions">
						<li class="settings">
							<h3>Settings</h3>
							<ul>
								<li class="edit"><h4><a href="#">Edit Settings</a></h4></li>
								<li class="remove">
									<form action="/templates/ajax/MDAppRemove.json" method="post" name="remove_dummy">
										<input type="hidden" name="appid" value="app_name2" />
										<input type="submit" class="button" value="Remove App" />
									</form>
								</li>
								<li class="about"><h4><a href="#">About this App</a></h4></li>
							</ul>
						</li>
						<li class="launch"><a href="/templates/issue_manager.html">Launch app</a></li>
					</ul>
				</div>
				<div class="body">
					<div class="subnav">
						<div class="subnav_inner"></div>
					</div>
					<div class="image"></div>
					<div class="footer"></div>
				</div>
			</li>
			
			
			
			
			
			<li class="widget half IssueManager">
				<div class="header">
					<h2>Issue Manager</h2>
					<div class="notification">2 updates!</div>
					<ul class="actions">
						<li class="settings">
							<h3>Settings</h3>
							<ul>
								<li class="edit"><h4><a href="#">Edit Settings</a></h4></li>
								<li class="remove">
									<form action="/templates/ajax/MDAppRemove.json" method="post" name="remove_dummy">
										<input type="hidden" name="appid" value="app_name2" />
										<input type="submit" class="button" value="Remove App" />
									</form>
								</li>
								<li class="about"><h4><a href="#">About this App</a></h4></li>
							</ul>
						</li>
						<li class="launch"><a href="/templates/issue_manager.html">Launch app</a></li>
					</ul>
				</div>
				<div class="body">

					<table class="i:widgetIM">
					<tr>
						<th class="date">Date</th>
						<th class="subject">Subject</th>
						<th class="status">Status</th>
					</tr>
					<tr class="new">
						<td>2011/04/24</td>
						<td><a href="/templates/issue_manager_view.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></td>
						<td>New</td>
					</tr>
					<tr class="new">
						<td>2011/03/04</td>
						<td><a href="#">Sed do eiusmod tempor incididunt ut labore</a></td>
						<td>In progress</td>
					</tr>
					<tr>
						<td>2011/03/02</td>
						<td><a href="#">Ut enim ad minim veniam, quis nostrud</a></td>
						<td>In progress</td>
					</tr>
					<tr>
						<td>2011/02/21</td>
						<td><a href="#">Ullamco laboris nisi ut aliquip ex ea</a></td>
						<td>Closed</td>
					</tr>
					<tr>
						<td>2011/02/04</td>
						<td><a href="#">Laboris nisi ut aliquip ex ea commodo consequat</a></td>
						<td>Completed</td>
					</tr>
					</table>

				</div>
			</li>
			
			<li class="widget half IssueManager">
				<div class="header">
					<h2>Tech Library</h2>
					<ul class="actions">
						<li class="settings">
							<h3>Settings</h3>
							<ul>
								<li class="edit"><h4><a href="#">Edit Settings</a></h4></li>
								<li class="remove">
									<form action="/templates/ajax/MDAppRemove.json" method="post" name="remove_dummy">
										<input type="hidden" name="appid" value="app_name2" />
										<input type="submit" class="button" value="Remove App" />
									</form>
								</li>
								<li class="about"><h4><a href="#">About this App</a></h4></li>
							</ul>
						</li>
						<li class="launch"><a href="/templates/issue_manager.html">Launch app</a></li>
					</ul>
				</div>
				<div class="body">

					<table class="i:widgetIM">
					<tr>
						<th class="subject">Subject</th>
						<th class="status">Status</th>
					</tr>
					<tr class="new">
						<td><a href="/templates/issue_manager_view.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></td>
						<td>New</td>
					</tr>
					<tr class="new">
						<td><a href="#">Sed do eiusmod tempor incididunt ut labore</a></td>
						<td>In progress</td>
					</tr>
					<tr>
						<td><a href="#">Ut enim ad minim veniam, quis nostrud</a></td>
						<td>In progress</td>
					</tr>
					<tr>
						<td><a href="#">Ullamco laboris nisi ut aliquip ex ea</a></td>
						<td>Closed</td>
					</tr>
					<tr>
						<td><a href="#">Laboris nisi ut aliquip ex ea commodo consequat</a></td>
						<td>Completed</td>
					</tr>
					</table>

				</div>
			</li>
			
			<li class="widget half IssueManager">
				<div class="header">
					<h2>Document Sharing</h2>
					<ul class="actions">
						<li class="settings">
							<h3>Settings</h3>
							<ul>
								<li class="edit"><h4><a href="#">Edit Settings</a></h4></li>
								<li class="remove">
									<form action="/templates/ajax/MDAppRemove.json" method="post" name="remove_dummy">
										<input type="hidden" name="appid" value="app_name2" />
										<input type="submit" class="button" value="Remove App" />
									</form>
								</li>
								<li class="about"><h4><a href="#">About this App</a></h4></li>
							</ul>
						</li>
						<li class="launch"><a href="/templates/issue_manager.html">Launch app</a></li>
					</ul>
				</div>
				<div class="body">

					<table class="i:widgetIM">
					<tr>
						<th class="date">Date</th>
						<th class="subject">Subject</th>
						<th class="status">Status</th>
					</tr>
					<tr class="new">
						<td>2011/04/24</td>
						<td><a href="/templates/issue_manager_view.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></td>
						<td>New</td>
					</tr>
					<tr class="new">
						<td>2011/03/04</td>
						<td><a href="#">Sed do eiusmod tempor incididunt ut labore</a></td>
						<td>In progress</td>
					</tr>
					<tr>
						<td>2011/03/02</td>
						<td><a href="#">Ut enim ad minim veniam, quis nostrud</a></td>
						<td>In progress</td>
					</tr>
					<tr>
						<td>2011/02/21</td>
						<td><a href="#">Ullamco laboris nisi ut aliquip ex ea</a></td>
						<td>Closed</td>
					</tr>
					<tr>
						<td>2011/02/04</td>
						<td><a href="#">Laboris nisi ut aliquip ex ea commodo consequat</a></td>
						<td>Completed</td>
					</tr>
					</table>

				</div>
			</li>
			
			<li class="widget half IssueManager">
				<div class="header">
					<h2>Service Order Report</h2>
					<ul class="actions">
						<li class="settings">
							<h3>Settings</h3>
							<ul>
								<li class="edit"><h4><a href="#">Edit Settings</a></h4></li>
								<li class="remove">
									<form action="/templates/ajax/MDAppRemove.json" method="post" name="remove_dummy">
										<input type="hidden" name="appid" value="app_name2" />
										<input type="submit" class="button" value="Remove App" />
									</form>
								</li>
								<li class="about"><h4><a href="#">About this App</a></h4></li>
							</ul>
						</li>
						<li class="launch"><a href="/templates/issue_manager.html">Launch app</a></li>
					</ul>
				</div>
				<div class="body">

					<table class="i:widgetIM">
					<tr>
						<th class="date">Date</th>
						<th class="subject">Subject</th>
						<th class="status">Status</th>
					</tr>
					<tr class="new">
						<td>2011/04/24</td>
						<td><a href="/templates/issue_manager_view.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></td>
						<td>New</td>
					</tr>
					<tr class="new">
						<td>2011/03/04</td>
						<td><a href="#">Sed do eiusmod tempor incididunt ut labore</a></td>
						<td>In progress</td>
					</tr>
					<tr>
						<td>2011/03/02</td>
						<td><a href="#">Ut enim ad minim veniam, quis nostrud</a></td>
						<td>In progress</td>
					</tr>
					<tr>
						<td>2011/02/21</td>
						<td><a href="#">Ullamco laboris nisi ut aliquip ex ea</a></td>
						<td>Closed</td>
					</tr>
					<tr>
						<td>2011/02/04</td>
						<td><a href="#">Laboris nisi ut aliquip ex ea commodo consequat</a></td>
						<td>Completed</td>
					</tr>
					</table>

				</div>
			</li>
			
			
			
			<li class="widget weatherdummy">
				<div class="header">
					<h2>Weatherforecast</h2>
					<ul class="actions">
						<li class="settings">
							<h3>Settings</h3>
							<ul>
								<li class="edit"><h4><a href="#">Edit Settings</a></h4></li>
								<li class="remove">
									<form action="/templates/ajax/MDAppRemove.json" method="post" name="remove_dummy">
										<input type="hidden" name="appid" value="app_name2" />
										<input type="submit" class="button" value="Remove App" />
									</form>
								</li>
								<li class="about"><h4><a href="#">About this App</a></h4></li>
							</ul>
						</li>
						<li class="launch"><a href="/templates/issue_manager.html">Launch app</a></li>
					</ul>
				</div>
				<div class="body">
					<div class="subnav">
						<div class="subnav_inner"></div>
					</div>
					<div class="image"></div>
					<div class="footer"></div>
				</div>
			</li>
			
			
			<!-- <li class="widget dummy">
							<div class="header">
								<h2>Application name</h2>
								<ul class="actions">
									<li class="settings"><h3>Settings</h3>
										<ul>
											<li class="edit">
												<h4><a href="#">Edit Settings</a></h4>
											</li>
											<li class="remove">
												<form action="/templates/ajax/MDAppRemove.json" method="post" name="remove_dummy">
													<input type="hidden" name="appid" value="app_name1" />
			 										<input type="submit" class="button" value="Remove App" />
												</form>
											</li>
											<li class="about"><h4><a href="#">About this App</a></h4></li>
										</ul>
									</li>
									<li class="launch"><a href="#">Launch app</a></li>
								</ul>
							</div>
							<div class="body">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<ul class="actions">
									<li><a href="/templates/add_application_view.html" class="button">Get info</a></li>
								</ul>
							</div>
						</li>
						
						<li class="widget half IssueManager">
							<div class="header">
								<h2>Issue Manager</h2>
								<div class="notification">2 updates!</div>
								<ul class="actions">
									<li class="settings">
										<h3>Settings</h3>
										<ul>
											<li class="edit"><h4><a href="#">Edit Settings</a></h4></li>
											<li class="remove">
												<form action="/templates/ajax/MDAppRemove.json" method="post" name="remove_dummy">
													<input type="hidden" name="appid" value="app_name2" />
													<input type="submit" class="button" value="Remove App" />
												</form>
											</li>
											<li class="about"><h4><a href="#">About this App</a></h4></li>
										</ul>
									</li>
									<li class="launch"><a href="/templates/issue_manager.html">Launch app</a></li>
								</ul>
							</div>
							<div class="body">

								<table class="i:widgetIM">
								<tr>
									<th class="date">Date</th>
									<th class="subject">Subject</th>
									<th class="status">Status</th>
								</tr>
								<tr class="new">
									<td>2011/04/24</td>
									<td><a href="/templates/issue_manager_view.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></td>
									<td>New</td>
								</tr>
								<tr class="new">
									<td>2011/03/04</td>
									<td><a href="#">Sed do eiusmod tempor incididunt ut labore</a></td>
									<td>In progress</td>
								</tr>
								<tr>
									<td>2011/03/02</td>
									<td><a href="#">Ut enim ad minim veniam, quis nostrud</a></td>
									<td>In progress</td>
								</tr>
								<tr>
									<td>2011/02/21</td>
									<td><a href="#">Ullamco laboris nisi ut aliquip ex ea</a></td>
									<td>Closed</td>
								</tr>
								<tr>
									<td>2011/02/04</td>
									<td><a href="#">Laboris nisi ut aliquip ex ea commodo consequat</a></td>
									<td>Completed</td>
								</tr>
								</table>

							</div>
						</li>
						
						<li class="widget half dummy">
							<div class="header">
								<h2>Application name</h2>
								<ul class="actions">
									<li class="settings">
										<h3>Settings</h3>
										<ul>
											<li class="edit"><h4><a href="#">Edit Settings</a></h4></li>
											<li class="remove">
												<form action="/templates/ajax/MDAppRemove.json" method="post" name="remove_dummy">
													<input type="hidden" name="appid" value="app_name3" />
													<input type="submit" class="button" value="Remove App" />
												</form>
											</li>
											<li class="about"><h4><a href="#">About this App</a></h4></li>
										</ul>
									</li>
									<li class="launch"><a href="#">Launch app</a></li>
								</ul>
							</div>
							<div class="body">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</li>
						
						<li class="widget half dummy">
							<div class="header">
								<h2>Application name</h2>
								<ul class="actions">
									<li class="settings">
										<h3>Settings</h3>
										<ul>
											<li class="edit"><h4><a href="#">Edit Settings</a></h4></li>
											<li class="remove">
												<form action="/templates/ajax/MDAppRemove.json" method="post" name="remove_dummy">
													<input type="hidden" name="appid" value="app_name4" />
			 										<input type="submit" class="button" value="Remove App" />
												</form>
											</li>
											<li class="about"><h4><a href="#">About this App</a></h4></li>
										</ul>
									</li>
									<li class="launch"><a href="#">Launch app</a></li>
								</ul>
							</div>
							<div class="body">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</li>
						
						<li class="widget half dummy">
							<div class="header">
								<h2>Application name</h2>
								<ul class="actions">
									<li class="settings">
										<h3>Settings</h3>
										<ul>
											<li class="edit"><h4><a href="#">Edit Settings</a></h4></li>
											<li class="remove">
												<form action="/templates/ajax/MDAppRemove.json" method="post" name="remove_dummy">
													<input type="hidden" name="appid" value="app_name5" />
			 										<input type="submit" class="button" value="Remove App" />
												</form>
											</li>
											<li class="about"><h4><a href="#">About this App</a></h4></li>
										</ul>
									</li>
									<li class="launch"><a href="#">Launch app</a></li>
								</ul>
							</div>
							<div class="body">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</li> -->
			
		</ul>

	</div>

</div>

</body>
</html>