<!DOCTYPE html>
<html>
<head>
	<!-- (c) & (p) hvadhedderde.com 2011 //-->
	<!-- All material protected by copyrightlaws, as if you didnt know //-->
	<title>Vestas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link type="text/css" rel="stylesheet" media="all" href="/css/lib/seg_desktop_include.css" />
	<script type="text/javascript" src="/js/lib/seg_desktop_include.js"></script>
</head>
<body>

<div id="page" class="i:page">

	<div id="header">
		<div class="c400">

			<div class="info">

				<div class="jumpboardlink"><a href="/templates/jumpboard.html" title="Jump Board">Jump Board</a></div>

			</div>

		</div>
	</div>

	<div class="banner"></div>

	<div id="subnavigation">
		<ul>
			<li><h4><a href="/templates/um-agreements.html">Agreements</a></h4></li>
			<li class="selected"><h4><a href="/templates/um-agreement-users.html">Users</a></h4></li>
		</ul>
		<ul class="actions">
			<li class="i:feedback"><a href="/templates/ajax/feedback.html" class="button tool feedback">Feedback</a></li>
			<li class="i:sharepage"><a href="/templates/ajax/sharepage.html" class="button tool share">Share</a></li>
		</ul>
	</div>

	<div id="content" class="UserManagement user">

		<div class="box">
			<div class="header">
				<h2></h2>
			</div>
			<div class="body">

				<div class="c">
					<div class="c100">
						<ul class="navigation">
							<li>
								<h4><a href="/templates/um-agreements.html">Agreement</a></h4>
								<ul>
									<li><h5><a href="/templates/um-accounts.html">Accounts</a></h5></li>
									<li><h5><a href="/templates/um-agreement-apps.html">Applications</a></h5></li>
									<li class="selected"><h5><a href="/templates/um-agreement-users.html">Users</a></h5></li>
								</ul>
							</li>
						</ul>
					</div>

					<div class="c300">
						
						<h3>View user: Long John Silver (External)</h3>

						<dl class="list">
							<dt>Email</dt>
							<dd>long.john.silver@vestas.com</dd>
							<dt>Title</dt>
							<dd>Mr.</dd>
							<dt>First name</dt>
							<dd>Long John</dd>
							<dt>Last name</dt>
							<dd>Silver</dd>
							<dt>Phonenumber</dt>
							<dd>555-123456789</dd>
							<dt>Area of responsibility</dt>
							<dd>Manager</dd>
							<dt>Country</dt>
							<dd>India</dd>
							<dt>Preferred language</dt>
							<dd>English</dd>
							<dt>Role</dt>
							<dd>Administrator</dd>
						</dl>

						<h3>Accounts the user has access to</h3>
						<div class="results">
							<div class="row">
								<span class="breadcrumb">xxxxx > yyyyy > zzzzzz</span>
								<h3><a href="/templates/um-agreement-add.html">account name (1234)</a></h3>
							</div>
							<div class="row">
								<span class="breadcrumb">xxxxx > yyyyy > zzzzzz</span>
								<h3>This one is not a link, only a head (1234)</h3>
							</div>
							<div class="row">
								<span class="breadcrumb">xxxxx > yyyyy > zzzzzz</span>
								<h3><a href="/templates/um-agreement-add.html">account name (1234)</a></h3>
							</div>
							<div class="row">
								<span class="breadcrumb">xxxxx > yyyyy > zzzzzz</span>
								<h3><a href="/templates/um-agreement-add.html">account name (1234)</a></h3>
							</div>
						</div>

						<h3>Available application for this user</h3>

						<div class="application">
							<div class="applicationname">
								<h4>Issue Manager</h4>
							</div>
							<div class="image">
								<img src="/img/dummy/bg_app_logo_3.png" alt="Issue Manager"/>
							</div>
							<div class="state"></div>
							<div class="description"></div>
							<div class="settings"></div>
						</div>
						
						<ul class="actions">
							<li class="edit"><a href="/templates/um-agreement-user-edit.html" class="button primary">Edit user</a></li>
						</ul>
						
					</div>
				</div>

			</div>
		</div>

	</div>

</div>

</body>
</html>