<!DOCTYPE html>
<html>
<head>
	<!-- (c) & (p) hvadhedderde.com 2011 //-->
	<!-- All material protected by copyrightlaws, as if you didnt know //-->
	<title>Vestas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link type="text/css" rel="stylesheet" media="all" href="/css/lib/seg_desktop_include.css" />
	<script type="text/javascript" src="/js/lib/seg_desktop_include.js"></script>
</head>
<body>

<div id="page" class="i:page">

	<div id="header">
		<div class="c400">

			<div class="info">

				<div class="jumpboardlink"><a href="/templates/jumpboard.html" title="Jump Board">Jump Board</a></div>

			</div>

		</div>
	</div>

	<div class="banner"></div>

	<div id="subnavigation">
		<ul>
			<li><h4><a href="/templates/um-agreements.html">Agreements</a></h4></li>
			<li class="selected"><h4><a href="/templates/um-agreement-users.html">Users</a></h4></li>
		</ul>
		<ul class="actions">
			<li class="i:feedback"><a href="/templates/ajax/feedback.html" class="button tool feedback">Feedback</a></li>
			<li class="i:sharepage"><a href="/templates/ajax/sharepage.html" class="button tool share">Share</a></li>
		</ul>
	</div>

	<div id="content" class="UserManagement adduser">

		<div class="box">
			<div class="header">
				<h2></h2>
			</div>
			<div class="body">

				<div class="c">
					<div class="c100">
						<ul class="navigation">
							<li>
								<h4><a href="/templates/um-agreements.html">Agreement</a></h4>
								<ul>
									<li><h5><a href="/templates/um-accounts.html">Accounts</a></h5></li>
									<li><h5><a href="/templates/um-agreement-apps.html">Applications</a></h5></li>
									<li class="selected"><h5><a href="/templates/um-agreement-users.html">Users</a></h5></li>
								</ul>
							</li>
						</ul>
					</div>

					<div class="c300">
						
						<h3>Add known user (2/2)</h3>

						<form action="um-agreement-users.html" method="post" class="i:form type:html">
							<fieldset>

								<div class="pseudofield string">
									<dl>
										<dt>Email</dt>
										<dd>email@vestas.com</dd>
									</dl>
								</div>

								<div class="field string">
									<label>Title</label>
									<input type="text" name="title" value="" />
									<p class="hint">String</p>
									<p class="error">fejl 40</p>
								</div>

								<div class="field string">
									<label>First name</label>
									<input type="text" name="rep" value="" />
									<p class="hint">String</p>
									<p class="error">fejl 40</p>
								</div>

								<div class="field string">
									<label>Last name</label>
									<input type="text" name="rep" value="" />
									<p class="hint">String</p>
									<p class="error">fejl 40</p>
								</div>

								<div class="field string">
									<label>Mobile</label>
									<input type="text" name="rep" value="" />
									<p class="hint">String</p>
									<p class="error">fejl 40</p>
								</div>

								<div class="field string">
									<label>Area of responsibility</label>
									<input type="text" name="rep" value="" />
									<p class="hint">String</p>
									<p class="error">fejl 40</p>
								</div>

								<div class="field string">
									<label>Country</label>
									<input type="text" name="rep" value="" />
									<p class="hint">String</p>
									<p class="error">fejl 40</p>
								</div>

								<div class="field select">
									<label>Preferred language</label>
									<select>
										<option>Select language</option>
									</select>
									<p class="hint">String</p>
									<p class="error">fejl 40</p>
								</div>

								<h4>Role</h4>
								<div class="field radio">
									<input type="radio" name="role" id="role_user" value="0" checked   />
									<label for="role_user">User</label>
								
									<input type="radio" name="role" id="role_administrator" value="1"  />
									<label for="role_administrator">Administrator</label>
								</div>

							</fieldset>

							<ul class="actions">
								<li class="submit"><input type="submit" class="button primary" value="Add user" /></li>
							</ul>
						</form>
						
					</div>
				</div>

			</div>
		</div>

	</div>

</div>

</body>
</html>