<!DOCTYPE html>
<html>
<head>
	<!-- (c) & (p) hvadhedderde.com 2011 //-->
	<!-- All material protected by copyrightlaws, as if you didnt know //-->
	<title>Vestas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link type="text/css" rel="stylesheet" media="all" href="/css/lib/seg_desktop_include.css" />
	<script type="text/javascript" src="/js/lib/seg_desktop_include.js"></script>
</head>
<body>

<div id="page" class="i:page">

	<div id="header">
		<div class="c400">

			<div class="info">

				<div class="jumpboardlink"><a href="/templates/jumpboard.html" title="Jump Board">Jump Board</a></div>

				<div class="user">
					<h3>Henrik John Andersen</h3>
					<div class="notification">12</div>
					<ul>
						<li><h4><a href="/templates/myacc-account.html">My Account</a></h4></li>
						<li><h4><a href="#">My Documents</a></h4></li>
						<li><h4><a href="/templates/logon.html">Sign Out</a></h4></li>
					</ul>
				</div>

			</div>

			<div id="navigation">
				<h3>Launch App</h3>
				<ul>
					<li><h4><a href="#">Collaboration Room</a></h4></li>
					<li><h4><a href="#">Document Sharing</a></h4></li>
					<li>
						<h4><a href="/templates/issue_manager.html">Issue Manager</a></h4>
						<div class="notification">New version!</div>
					</li>
					<li><h4><a href="#">Performance Manager</a></h4></li>
					<li class="add"><h4><a href="/templates/add_application.html">Add Application</a></h4></li>
				</ul>
			</div>

		</div>
	</div>

	<div id="subnavigation">
		<ul>
			<li><h4><a href="/templates/jumpboard.html">Jump Board</a></h4></li>
			<li class="selected"><h4><a href="/templates/add_application.html">Add Application</a></h4></li>
			<li><h4><a href="/templates/get_started.html">Get Started</a></h4></li>
		</ul>
		<ul class="actions">
			<li class="i:feedback"><a href="/templates/ajax/feedback.html" class="button tool feedback">Feedback</a></li>
			<li class="i:sharepage"><a href="/templates/ajax/sharepage.html" class="button tool share">Share</a></li>
		</ul>
	</div>

	<div id="content" class="add_apps i:add_apps">
		
		<div class="banner appstore">
			<div class="app1"><a href="#">Get the full picture - Use the Project Spaces App</a></div>
			<div class="app2"><a href="#">New app! - Performance Manager</a></div>
			<div class="app3"><a href="#">Know your power - Use Powerforecast</a></div>
		</div>
		
		<div class="box">
			<div class="header">
				<h2>Add Applications</h2>
			</div>
			<div class="body">
				
				<ul class="apps">
					
					<li class="app">
						<div class="app_inner">
							<img src="/img/dummy/bg_app_logo_1.png" alt="Issue Manager" />
							<h3>Issue Manager</h3>
							<p>Proactively maximize leveraged innovation after superior customer service. Conveniently maintain robust data before technically sound benefits. Holisticly transform robust experiences without error-free data.</p>
							<ul class="actions">
								<li class="info"><a href="/templates/add_application_view.html" class="button">Get info</a></li>
								<li class="add"><a class="button disabled">Installed</a></li>
							</ul>
						</div>
					</li>
					
					<li class="app">
						<div class="app_inner">
							<img src="/img/dummy/bg_app_logo_4.png" alt="Performance Manager"/>
							<h3>Powerforecast</h3>
							<p>Competently synergize team driven supply chains vis-a-vis holistic functionalities. Completely e-enable collaborative ROI and resource-leveling web-readiness. Distinctively implement innovative users whereas seamless intellectual capital.</p>
							<ul class="actions">
								<li class="info"><a href="/templates/add_application_view.html" class="button">Get info</a></li>
								<li class="add">
									<form action="/templates/ajax/MDAddApp.json" method="post" name="add_PerformanceManager">
										<input type="hidden" name="appid" value="Powerforecast" />
										<input type="hidden" name="appurl" value="http://vestas.local/testapp" />
										<input type="hidden" name="appname" value="Powerforecast" />
										<input type="submit" value="Add App" class="button primary" />
									</form>
								</li>
							</ul>
						</div>
					</li>
					
					<li class="app">
						<div class="app_inner">
							<img src="/img/dummy/bg_app_logo_7.png" alt="Document Sharing"/>
							<h3>Tech Library</h3>
							<p>Competently unleash empowered architectures before optimal action items. Synergistically coordinate customer directed niche markets and 2.0 leadership. Dramatically orchestrate intermandated total linkage with worldwide processes.</p>
							<ul class="actions">
								<li class="info"><a href="/templates/add_application_view.html" class="button">Get info</a></li>
								<li class="add">
									<form action="/templates/ajax/MDAddApp.json" method="post" name="add_DocumentSharing">
										<input type="hidden" name="appid" value="TechLibrary" />
										<input type="hidden" name="appurl" value="http://vestas.local/testapp" />
										<input type="hidden" name="appname" value="Tech Library" />
										<input type="submit" value="Add App" class="button primary" />
									</form>
								</li>
							</ul>
						</div>
					</li>
					
					<li class="app">
						<div class="app_inner">
							<img src="/img/dummy/bg_app_logo_6.png" alt="Performance Manager"/>
							<h3>Service Order Report</h3>
							<p>Phosfluorescently leverage existing premium vortals and end-to-end infrastructures. Globally actualize value-added alignments whereas customized intellectual capital. Efficiently transition sticky web-readiness through holistic opportunities.</p>
							<ul class="actions">
								<li class="info"><a href="/templates/add_application_view.html" class="button">Get info</a></li>
								<li class="add">
									<form action="/templates/ajax/MDAddApp.json" method="post" name="add_PerformanceManager">
										<input type="hidden" name="appid" value="ServiceOrderReport" />
										<input type="hidden" name="appurl" value="http://vestas.local/testapp" />
										<input type="hidden" name="appname" value="Service Order Report" />
										<input type="submit" value="Add App" class="button primary" />
									</form>
								</li>
							</ul>
						</div>
					</li>
					
					<li class="app">
						<div class="app_inner">
							<img src="/img/dummy/app_logo_en.png" alt="Performance Manager"/>
							<h3>Weatherforecast</h3>
							<p>Interactively harness stand-alone customer service through market-driven niches. Interactively iterate open-source markets before compelling materials. Rapidiously extend standards compliant bandwidth rather than high-payoff networks.</p>
							<ul class="actions">
								<li class="info"><a href="/templates/add_application_view.html" class="button">Get info</a></li>
								<li class="add">
									<form action="/templates/ajax/MDAddApp.json" method="post" name="add_PerformanceManager">
										<input type="hidden" name="appid" value="Weatherforecast" />
										<input type="hidden" name="appurl" value="http://vestas.local/testapp" />
										<input type="hidden" name="appname" value="Weatherforecast" />
										<input type="submit" value="Add App" class="button primary" />
									</form>
								</li>
							</ul>
						</div>
					</li>
					
					<li class="app">
						<div class="app_inner">
							<img src="/img/dummy/bg_app_logo_5.png" alt="Collaboration Room"/>
							<h3>Document Sharing</h3>
							<p>Completely aggregate alternative human capital with equity invested potentialities. Globally re-engineer fully researched sources vis-a-vis ethical infrastructures. Synergistically evisculate sticky testing procedures before e-business data.</p>
							<ul class="actions">
								<li class="info"><a href="/templates/add_application_view.html" class="button">Get info</a></li>
								<li class="add">
									<form action="/templates/ajax/MDAddApp.json" method="post" name="add_Collaboration">
										<input type="hidden" name="appid" value="DocumentSharing" />
										<input type="hidden" name="appurl" value="http://vestas.local/testapp" />
										<input type="hidden" name="appname" value="Document Sharing" />
										<input type="submit" value="Add App" class="button primary" />
									</form>
								</li>
							</ul>
						</div>
					</li>
					
				</ul>
			</div>
		</div>
	</div>

</div>

</body>
</html>