<!DOCTYPE html>
<html>
<head>
	<!-- (c) & (p) hvadhedderde.com 2011 //-->
	<!-- All material protected by copyrightlaws, as if you didnt know //-->
	<title>Vestas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link type="text/css" rel="stylesheet" media="all" href="/css/lib/seg_desktop_include.css" />
	<script type="text/javascript" src="/js/lib/seg_desktop_include.js"></script>
</head>
<body>

<div id="page" class="i:page">

	<div id="header">
		<div class="c400">

			<div class="info">

				<div class="jumpboardlink"><a href="/templates/jumpboard.html" title="Jump Board">Jump Board</a></div>

				<div class="user">
					<h3>Henrik John Andersen</h3>
					<div class="notification">12</div>
					<ul>
						<li><h4><a href="/templates/myacc-account.html">My Account</a></h4></li>
						<li><h4><a href="#">My Documents</a></h4></li>
						<li><h4><a href="logon.html">Sign Out</a></h4></li>
					</ul>
				</div>

			</div>

			<div id="navigation">
				<h3>Launch App</h3>
				<ul>
					<li><h4><a href="#">Collaboration Room</a></h4></li>
					<li><h4><a href="#">Document Sharing</a></h4></li>
					<li>
						<h4><a href="issue_manager.html">Issue Manager</a></h4>
						<div class="notification">New version!</div>
					</li>
					<li><h4><a href="#">Performance Manager</a></h4></li>
					<li class="add"><h4><a href="add_application.html">Add Application</a></h4></li>
				</ul>
			</div>

		</div>
	</div>

	<div class="banner"></div>

	<div id="subnavigation">
		<ul>
			<li class="selected"><h4><a href="myacc-account.html">My Account</a></h4></li>
			<li><h4><a href="#">My Subscriptions</a></h4></li>
			<li><h4><a href="#">Get Started</a></h4></li>
			<li><h4><a href="#">Create Message</a></h4></li>
		</ul>
		<ul class="actions">
			<li class="i:feedback"><a href="/templates/ajax/feedback.html" class="button tool feedback">Feedback</a></li>
			<li class="i:sharepage"><a href="/templates/ajax/sharepage.html" class="button tool share">Share</a></li>
		</ul>
	</div>

	<div id="content" class="MyAccount i:MyAccountMessage">
		
		<div class="box">
			<div class="header">
				<ul class="actions">
					<li class="back i:backbutton"><a href="myacc-account.html">Back</a></li>
				</ul>
			</div>
			<div class="body">
				<div class="c">
					<div class="c266">
						
						<div class="message">
							<h3 class="subject">Resource maximizing methodologies</h3>
							<h4 class="sender">Peter Lolk</h4>
							<p class="date i:dateView">1234567897399</p>
							<div class="message">
								
								<p>Synergistically conceptualize resource maximizing methodologies and client-centered "outside the box" thinking. Intrinsicly transition resource sucking networks whereas resource maximizing initiatives. Credibly enhance competitive networks before state of the art infrastructures. </p>
								<p>Distinctively e-enable user friendly scenarios vis-a-vis B2B products. Appropriately create vertical convergence before accurate architectures. Compellingly underwhelm ethical e-business via client-based web-readiness.</p>
								<p>Holisticly parallel task go forward communities and intuitive processes. Credibly parallel task performance based supply chains and process-centric e-services. Phosfluorescently engineer adaptive communities after highly efficient outsourcing. </p>
								<p>Synergistically predominate 2.0 relationships before sustainable catalysts for change. Distinctively aggregate reliable human capital with professional customer service. Conveniently generate compelling applications vis-a-vis user-centric best practices.</p>
								<p>Collaboratively morph real-time convergence with timely benefits. Compellingly supply team building "outside the box" thinking vis-a-vis cutting-edge schemas. Proactively incentivize backward-compatible e-business and state of the art imperatives. </p>
								<p>Appropriately underwhelm top-line alignments and cross-platform applications. Holisticly fabricate quality sources through impactful strategic theme areas. Professionally procrastinate clicks-and-mortar partnerships whereas intuitive platforms.</p>
								
							</div>
						</div>
						
					</div>
					<div class="c133">
						
						<h3>Your Vestas Contact</h3>
						<div class="vcard person" itemscope itemtype="http://data-vocabulary.org/Person">
							<div class="image">
								<img src="/img/dummy/temp_issue_thumb.jpg" alt="person name" class="photo" itemprop="image" />
							</div>
							<div class="name fn" itemprop="name">Peter Lolk</div>
							<div class="role" itemprop="role">Senior Account Manager</div>
							<div class="org" itemprop="affiliation">Vestas</div>
							<div class="tel" itemprop="tel">Phone: <a href="callto:+4512345678">+45 1234 5678</a></div>
							<div class="email" itemprop="email">E-mail: <a href="mailto:henga@vestas.com">henga@vestas.com</a></div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
	</div>

</div>

</body>
</html>