<!DOCTYPE html>
<html>
<head>
	<!-- (c) & (p) hvadhedderde.com 2011 //-->
	<!-- All material protected by copyrightlaws, as if you didnt know //-->
	<title>Vestas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link type="text/css" rel="stylesheet" media="all" href="/css/lib/seg_desktop_include.css" />
	<script type="text/javascript" src="/js/lib/seg_desktop_include.js"></script>
</head>
<body>

<div id="page" class="i:page">

	<div id="header">
		<div class="c400">

			<div class="info">

				<div class="jumpboardlink"><a href="/templates/jumpboard.html" title="Jump Board">Jump Board</a></div>

			</div>

		</div>
	</div>

	<div class="banner"></div>

	<div id="subnavigation">
		<ul>
			<li class="selected"><h4><a href="/templates/um-agreements.html">Agreements</a></h4></li>
			<li><h4><a href="/templates/um-agreement-users.html">Users</a></h4></li>
		</ul>
		<ul class="actions">
			<li class="i:feedback"><a href="/templates/ajax/feedback.html" class="button tool feedback">Feedback</a></li>
			<li class="i:sharepage"><a href="/templates/ajax/sharepage.html" class="button tool share">Share</a></li>
		</ul>
	</div>

	<div id="content" class="UserManagement accountagreements">

		<div class="box">
			<div class="header">
				<ul class="actions">
					<li class="back"><a href="/templates/um-agreements.html">Back</a></li>
				</ul>
			</div>
			<div class="body">

				<h3>#ACCOUNT#</h3>
				<p>Below is an overview of #ACCOUNT# agreements.</p>
				<ul class="actions">
					<li class="new"><a href="/templates/um-agreement-add.html" class="button primary">Create new agreement</a></li>
				</ul>

			</div>
		</div>

		<div class="box">
			<div class="header">
				<h2>Agreements on #ACCOUNT#</h2>
			</div>
			<div class="body">

				<form action="/templates/ajax/account_agreements.json" method="get" class="i:form type:auto">
					<table>
					<tr class="header">
						<th class="id">ID</th>
						<th class="title">Title</th>
						<th class="account">Valid from</th>
						<th class="expiry">Expiry</th>
					</tr>
					<tr class="template">
						<td>{agreement_id}</td>
						<td><a href="/templates/um-agreement.html?agreement_id={agreement_id}">{agreement_title}</a></td>
						<td>{agreement_expire_date}</td>
						<td>{agreement_valid_from_date}</td>
					</tr>
					</table>
				</form>

			</div>
		</div>

	</div>

</div>

</body>
</html>