<!--

Corrections:

Wrap .body content in <div class="c">

Separation of <div class="c266 view"> into two divs
<div class="c266">
	<div class="view">



-->

<div id="content" class="IssueManagerView i:IssueManagerView">

	<div class="box">
		<div class="header">
			<ul class="actions">
				<li class="back"><a href="/templates/issue_manager.html">Back</a></li>
			</ul>
		</div>
		<div class="body">

			<div class="c">

				<div class="c266">
					<div class="view">

						<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</h3>

						<div class="issue">
							<h4>Issue description</h4>

							<h5>View initial description</h5>
							<div class="description">
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>

							<div class="attachments">
								<h5>Attachments</h5>
								<ul class="list">
									<li class="pdf"><a href="#">Link a.pdf</a></li>
									<li class="doc"><a href="#">Link b.doc</a></li>
								</ul>
							</div>
						</div>


						<div class="solution">
							<h4>Proposed solution</h4>
							<div class="notification">Updated!</div>
							<div class="description">
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>

							<div class="attachments">
								<h5>Attachments</h5>
								<ul class="list">
									<li class="pdf"><a href="#">Link a.pdf</a></li>
									<li class="doc"><a href="#">Link a.doc</a></li>
								</ul>
							</div>
						</div>

						<div class="dialogue">
							<h3>Issue dialogue</h3>
							<div class="comments">
								<div class="more">
									<form action="#" method="get">
										<input type="hidden" name="from" value="0" />
										<ul class="actions">
											<li class="more"><input type="button" class="button" value="10 comments" /></li>
										</ul>
									</form>
								</div>

								<ul class="list">
									<li>
										<div class="image"><img src="/img/dummy/temp_issue_thumb.jpg" alt="person name" /></div>
										<div class="published">2011.01.12</div>
										<div class="author">Navn Navnesen</div>
										<div class="comment">
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
										</div>
									</li>
									<li>
										<div class="image"><img src="/img/dummy/temp_issue_thumb.jpg" alt="person name" /></div>
										<div class="published">2011.01.12</div>
										<div class="author">Navn Navnesen</div>
										<div class="comment">
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
										</div>
									</li>
									<li>
										<div class="image"><img src="/img/dummy/temp_issue_thumb.jpg" alt="person name" /></div>
										<div class="published">2011.01.12</div>
										<div class="author">Navn Navnesen</div>
										<div class="comment">
											incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
										</div>
									</li>
								</ul>
							</div>

							<div class="addcomment">
								<div class="image"><img src="/img/dummy/temp_issue_thumb.jpg" alt="person name" /></div>
								<form action="#" method="get">
									<div class="field text required">
										<label for="comment">Add comment to Issue Dialogue</label>
										<textarea id="comment" rows="3" cols="30"></textarea>
									</div>
									<ul class="actions">
										<li class="submit"><input type="submit" class="button primary" value="Post Comment" /></li>
									</ul>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="c133">
					<div class="details">
						<h3>Issue Details</h3>
						<dl class="list">
							<dt>Issue ID</dt>
							<dd>1234567890</dd>
							<dt>Raised by</dt>
							<dd>Navn Navnesen</dd>
							<dt>Last updated</dt>
							<dd>2011.11.07</dd>
							<dt>Status</dt>
							<dd>In progress</dd>
							<dt>Planned delivery</dt>
							<dd>2012.01.12</dd>
						</dl>

						<h3>Who is resolving your issue</h3>
						<div class="vcard person" itemscope itemtype="http://data-vocabulary.org/Person">
							<div class="image"><img src="/img/dummy/temp_issue_thumb.jpg" alt="person name" class="photo" itemprop="image" /></div>
							<div class="name fn" itemprop="name">Henriette Gabel</div>
							<div class="role" itemprop="role">Senior Account Manager</div>
							<div class="org" itemprop="affiliation">Vestas</div>
							<div class="tel" itemprop="tel">Phone: <a href="callto:+4512345678">+45 1234 5678</a></div>
							<div class="email" itemprop="email">E-mail: <a href="mailto:henga@vestas.com">henga@vestas.com</a></div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

</div>