<!DOCTYPE html>
<html>
<head>
	<!-- (c) & (p) hvadhedderde.com 2011 //-->
	<!-- All material protected by copyrightlaws, as if you didnt know //-->
	<title>Vestas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link type="text/css" rel="stylesheet" media="all" href="/css/lib/seg_desktop_include.css" />
	<script type="text/javascript" src="/js/lib/seg_desktop_include.js"></script>
</head>
<body>

<div id="page" class="i:page">

	<div id="header">
		<div class="c400">

			<div class="info">

				<div class="jumpboardlink"><a href="/templates/jumpboard.html" title="Jump Board">Jump Board</a></div>

			</div>

		</div>
	</div>

	<div class="banner"></div>

	<div id="subnavigation">
		<ul>
			<li class="selected"><h4><a href="/templates/um-agreements.html">Agreements</a></h4></li>
			<li><h4><a href="/templates/um-agreement-users.html">Users</a></h4></li>
		</ul>
		<ul class="actions">
			<li class="i:feedback"><a href="/templates/ajax/feedback.html" class="button tool feedback">Feedback</a></li>
			<li class="i:sharepage"><a href="/templates/ajax/sharepage.html" class="button tool share">Share</a></li>
		</ul>
	</div>

	<div id="content" class="UserManagement addagreement">

		<div class="box">
			<div class="header">
				<ul class="actions">
					<li class="back"><a href="/templates/um-agreement.html">Back</a></li>
				</ul>
			</div>
			<div class="body">

				<h3>Edit Vestas eBusiness Agreement for #ACCOUNT#</h3>

				<form action="/templates/ajax/MDCreateAgreement.json" method="post" class="i:form send:jdata">
					<input type="hidden" name="response_success_forward_url" value="um-agreement.html" class="ignoreinput" />
					<input type="hidden" name="response_success_forward_parameters" value="agreementid" class="ignoreinput" />
					<fieldset>
						<div class="field date">
							<label for="agreement_date">Agreement date (yyyy.mm.dd)</label>
							<input type="text" name="agreement_date" value="" id="agreement_date" />
							<p class="hint">Date</p>
							<p class="error">fejl 40</p>
						</div>
						<div class="field date">
							<label for="valid_date">Agreement is valid from (yyyy.mm.dd)</label>
							<input type="text" name="valid_date" value="" id="valid_date" />
							<p class="hint">Date</p>
							<p class="error">fejl 40</p>
						</div>
						<div class="field date">
							<label for="expiry_date">Expiry date (yyyy.mm.dd)</label>
							<input type="text" name="expiry_date" value="" id="expiry_date" />
							<p class="hint">Date</p>
							<p class="error">fejl 40</p>
						</div>
					</fieldset>

					<h4>Agreement signed by</h4>
					<fieldset>
						<div class="field string required">
							<label>Vestas agreement responsible</label>
							<input type="text" name="resp" value="" />
							<p class="hint">String</p>
							<p class="error">fejl 40</p>
						</div>
						<div class="field string required">
							<label>Client representative</label>
							<input type="text" name="rep" value="" />
							<p class="hint">String</p>
							<p class="error">fejl 40</p>
						</div>
					</fieldset>

					<ul class="actions">
						<li class="submit"><input type="submit" class="button primary" value="Update agreement" /></li>
					</ul>
				</form>

			</div>
		</div>

	</div>

</div>

</body>
</html>